

.star {
    color: gold;
}

.error {
    color: red;
    font-weight: bold;
}
.admin-users {
    margin: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #f4ecec;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}



.btn-edit, .btn-delete, .btn-save {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-edit {
    background-color: #4CAF50;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-save {
    background-color: #007bff;
    color: white;
}

input[type="text"], input[type="email"] {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
