.Canvas {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Optional: prevents overflow if nodes go out of bounds */
}

.Canvas svg {
  width: 100%;
  height: calc(100vh - 100px); /* Allow room for the control panel */
}

.highlightedNode circle {
  stroke: #ff5722;
  stroke-width: 5px;
}

.LinkAnimation {
  stroke: #ff5722 !important;
}

.node circle {
  fill: rgb(140, 142, 143);
}

.node text {
  fill: black;
}

.null-node circle {
  fill: lightgray;
}

.ControlPanel {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.ControlPanel input {
  margin-right: 10px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ControlPanel button {
  padding: 5px 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ControlPanel button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.ControlPanel button:hover:enabled {
  background-color: #3700b3;
}


.code-container {
  position: fixed;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: #f8f9fa;
  border-left: 1px solid #ccc;
  transition: right 0.5s ease;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.code-container.visible {
  right: 0;
}

.code-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #007bff;
  color: white;
}

.code-header h5 {
  margin: 0;
}

.code-header button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.code-header button:hover {
  background-color: #c82333;
}

.code-content {
  padding: 15px;
}

.code-section {
  margin-bottom: 20px;
}

.code-section h5 {
  margin-bottom: 10px;
  color: #151616;
  text-align: left;
}


pre {
  background-color: #151616;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px; /* Space between description and code */
  flex-basis: 40%; /* Set a fixed width for the code */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

pre {
  background-color: #151616;
  padding: 10px;  /* Padding inside the pre element */
  border-radius: 5px;
  overflow-x: auto;  /* Allow horizontal scrolling if needed */
  white-space:pre;  /* Preserve whitespace and line breaks */
  text-align:left;  /* Align text to the left */
  font-family: monospace;  /* Use a monospace font for code */
}
