.Canvas svg {
  width: 100%;
  height: 100vh;
}

.highlightedNode circle {
  stroke: #ff5722;
  stroke-width: 5px;
}

.LinkAnimation {
  stroke: #ff5722 !important;
}

.node circle {
  fill: lightblue;
}

.node text {
  fill: black;
}

.null-node circle {
  fill: lightgray;
}

.ControlPanel {
  position: absolute;
  top: 20px;
  left: 20px;
}

.ControlPanel input,
.ControlPanel button {
  margin: 5px;
}
