
.node {
    cursor: pointer;
}

.node circle {
    transition: fill 0.3s;
}

.node:hover circle {
    fill: orange;
}

.link {
    stroke: #ccc;
    stroke-width: 2px;
}

.link:hover {
    stroke: red;
}
